@import "base/variables";

.inner-container {
	max-width: 1000px;
	margin: 0px auto;
}
header {
	padding-top: 25px;
	.site-avatar {
		img {
			float: left;
			width: 250px;
		}
	}
	.site-info {
		float: left;
		padding: 15px;
	}
	nav {
		a:link {

		}
	}
}
#main {
	margin-top: 25px;
	margin-bottom: 25px;
}
footer {
	background: @color-grayLight;
	padding: 50px 0px;
	text-align: center;
}