@import "base/variables";
@import "base/mixins";

.inner-container {
	max-width: 1000px;
	margin: 0px auto;
	&.padded {
		margin: 25px auto;
	}
}
.sidebar {
	padding-left: 50px;
	p {
		.fontSize(xxs);
		color: @color-grayMid;
	}
	section {
		padding-bottom: 25px;
	}
}

header {
	padding: 10px;
	.site-avatar {
		img {
			float: left;
			width: 200px;
		}
	}
	.site-info {
		float: left;
		padding: 15px;
	}
	nav {
		padding-top: 19px;
		text-align: right;
		a {
			display: inline-block;
			padding: 5px 7px;
			color: @color-grayMid;
			font-size: 14px;
		}
	}
}
div.subheader {
	text-align: center;
	.title {
		border-bottom: 2px solid @color-grayLight;
	}
	nav {
		a {
			.fontSize(xxs);
			padding: 10px;
			display: inline-block;
			text-transform: uppercase;
			&:link {
				color: @color-grayMid;
			}
		}
	}
}
#main {
	margin-bottom: 50px;
}
.home-hero {
	padding: 150px 0px;
}
.featured-posts {
	border-top: 1px solid @color-grayLight;
	margin-bottom: 50px;
	a.post {
		display: block;
		text-decoration: none;
		&:first-child {
			border-right: 1px solid @color-grayLight;
		}
		&:hover {
			background: @color-orange;
			.top {
				p._h2, p._h6 {
					border-color: @color-white;
					color: @color-white;
				}
			}
		}
		.top {
			padding: 25px;
			p._h2 {
				margin-bottom: 0;
				.fontSize(m);
				color: @title-color;
			}
			p._h6 {
				text-transform: uppercase;
				border-bottom: 1px solid @color-grayLight;
				padding: 0px 10px 5px 10px;
				margin-bottom: 10px;
				letter-spacing: 5px;
				display: inline-block;
				.fontSize(xxs);
				color: @color-grayMid;
			}
		}
		.image-container {
			height: 250px;
			border-radius: 0;
		}
	}
}
.post-tag, .postTag {
	padding: 0.45em 0.5em 0.35em 0.5em;
	.fontSize(xxs);
}
.pagination {
	margin-top: 50px;
	a.page {
		cursor: pointer;
	}
}
.image-container {
	width: 100%;
	height: 150px;
	overflow: hidden;
	margin-bottom: 15px;
	border-radius: 5px;
	position: relative;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
	}
}

.posts {
	visibility: hidden;
}

article.post {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid @color-grayLight;
	&:first-child {
		padding-top: 0;
	}
	&:last-child{
		border-bottom: none;
	}
	.inner-container {
		max-width: 800px;
	}
	.author {
		font-size: 16px;
	}
	.tags {
		text-align: right;
	}
	.entry {
		margin: 50px 0px;
		h1 { .fontSize(l); }
		h2 { .fontSize(m); }
		h3 { .fontSize(s); }
		.metadata {
			margin: 25px 0px;
		}
	}
	&.preview-post {
		.date {
			font-size: 12px;
			color: @color-grayMid;
		}
		.post-header {
			padding: 15px 0px;
			.tags {
				margin-top: 25px;
			}
			&.no-author {
				padding-bottom: 0;
				.tags {
					margin-top: -10px;
				}
			}
		}
		.hero-container {
			width: 100%;
			height: 150px;
			overflow: hidden;
			margin-bottom: 15px;
			border-radius: 5px;
			position: relative;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
			}
		}
		h1 {
			font-weight: 600;
		}
		.entry {
			margin: 10px 0px;
			color: @color-grayMid;
			font-weight: 300;
			font-size: 14px;
		}
	}
	&.full-post {
		.source {
			padding: 25px;
			background: hsla(47, 100%, 89%, 1); 
            border: 1px solid hsla(47, 60%, 75%, 1); 
			margin-bottom: 25px;
			p {
				margin: 0px;
				font-size: 14px;
			}
		}
		.hero {
		    background-size: cover;
			height: 100%;
			padding: 150px 0px;
			h1, h2, .date {
				color: #fff;
				text-shadow: 1px 1px 3px #333;
			}
		}
		.entry {
			img {
				max-width: 100%;
				&[alt=left-align] {
					float: left;
					margin: 10px;
				}
				&[alt=right-align] {
					float: right;
					margin: 10px;
				}
			}
			.disqus {
				margin-top: 75px;
			}
		}
	}
}
article.author {
	.author-content {
		margin-top: 50px;
	}
}
.author-container {
	&.small {
		margin-bottom: 25px;
	}
	&.large {
		margin-bottom: 25px;
		img {
			width: 100px;
			height: 100px;
			margin-right: 25px;
			border-radius: 50px;
		}
		.info {
			padding-top: 5px;
			.author-name {
				font-size: 24px;
			}
			.author-info {
				font-size: 14px;
			}
		}
	}
	img {
		width: 50px;
		margin-right: 15px;
		float: left;
		border-radius: 25px;
	}
	.info {
		.author-name {
			padding-top: 8px;
			font-size: 16px;
			margin-bottom: 5px;
		}
		.author-info {
			font-size: 12px;
			color: @color-grayMid;
		}
	}
}
footer {
	background: @color-grayLight;
	padding: 50px 0px;
	text-align: center;
}



@media (max-width: @mediaQuery-small) {
	.add-padding {
		padding: 0 25px;
	}
	.media-padded {
		.add-padding;
	}
	article.post {
		&.preview-post {
			.hero-container {
				border-radius: 0;
			}
		}
		.entry {
			margin-top: 0;
		}
		.tags {
			text-align: left;
		}
	}
	article.author {
		.author-content {
			margin-top: 0;
		}
	}
	.sidebar {
		border-top: 1px solid @color-grayLight;
		padding-top: 25px;
	}
}