---
layout: default
title: Speakers
top_nav: speakers
---
<div class="inner-container padded media-padded -row">
	<div class="-col12">
		<div class="-row">
			<h1 class="h3"><a href="/speakers" style="color:inherit">Speakers</a></h1>
			<p>
				Stack Overflow is a large variety of talented individuals who are constantly working to improve themselves and the world around them. Whether it be engineering, design, marketing, or community, our team has a large variety of skills and experience to speak about.
			</p> 
			<p>
				If you would like a Stack Overflow employee to speak at your next event, email us at speakers@stackoverflow.com, we’d be happy to discuss.
			</p>
		</div>
		
		<div id="tag-filter" class="-row">
			{% if page.tag %}
				<p id="remove">
					<a href="/speakers/">show all speakers</a>			
				</p>			
				<p>
					<strong>Displaying speakers tagged:&nbsp;</strong> 
					<span class="postTag">{{ page.tag }}</span>
				</p>
			{% else %}
				<strong>Filter by speaker tags:&nbsp;</strong>
				{% for tag in site.data['speaker_tags'] %}
					<a href="/speakers/{{ tag }}" class="postTag">{{tag}}</a>
				{% endfor %}
			{% endif %}
		</div>
	</div> <!--end of top section-->

	
	<div id="speakers-list" class="-row _gutter">
		
		{% if page.people %}
			{% assign shuffled = page.people | shuffle %}
		{% else %}
			{% assign shuffled = site.people | shuffle %}
		{% endif %}

		{% for person in shuffled %}
			{% if person.speaker %}
			{% unless person.inactive %}
				
				<div class="speaker author-container large -row {% for tag in person.speaker_tags %}{{ tag }} {% endfor %} -col6">
				<a name="{{ person.id }}"></a>
				  	<img src="{{ person.avatar }}" class="avatar">
				  	<div class="info">
					  		{% if person.location %}
						  		<span class="speaker-location"><i class="blog-icon location"></i><h4>{{ person.location }}</h4></span>
						  	{% endif %}	
				  		<h2 class="h4 author-name">{{ person.name }}</h2>
				  		<h3 class="h5">
				  			{{ person.job }}
				  		</h3>
					  	
				  		<h3 class="h5 author-info">
				  			{{ person.speaker_intro | markdownify }}
				  		</h3>
				  		
				  		<div class="locale-and-tags">					  	
						  	{% for tag in person.speaker_tags %}
								<a href="/speakers/{{ tag }}" class="postTag">{{ tag }}</a>
							{% endfor %}		
				  		</div>
				  		
				  		<h3 class="h5 author-meta-info">

				  			{% if person.website %}
				  				<a href="{{ person.website }}">Website</a>
				  			{% endif %}
				  			{% if person.twitter %}
				  				{% if person.website %} • {% endif %}
				  				<a href="https://twitter.com/{{ person.twitter }}">Twitter</a>
				  			{% endif %}
				  			{% if person.github %}
				  				{% if person.twitter or person.website %} • {% endif %}
				  				<a href="https://github.com/{{ person.github }}">GitHub</a>
				  			{% endif %}
				  			{% if person.stack %}
				  				{% if person.twitter or person.website or person.github %} • {% endif %}
				  				<a href="{{ person.stack }}">Stack Overflow</a>
				  			{% endif %}
				  			{% if person.youtube %}
				  				{% if person.twitter or person.website or person.github or person.stack %} • {% endif %}
				  				<a href="{{ person.youtube }}">YouTube</a>
				  			{% endif %}
				  		</h3>
				  		
				  	</div>
				</div>
			{% endunless %}
			{% endif %}
		{% endfor %}
	</div>
	

</div>
