<div class="index-nav">
  <header class="header">
        <div class="mainnav-wrapper anon-nav">
            <nav class="mainnav horizontal-nav">
                <div class="hlogo -item">
                  <a class="current -nav-link hlogo-link" href="/"></a>
                </div>
                <div class="qanda -item">
                  <a class="-nav-link" href="//stackoverflow.com">Q&amp;A</a>
                </div>
                <div class="documentation -item">
                  <a class="-nav-link" href="//stackoverflow.com/documentation">Documentation</a>
                </div>
                <div class="jobs -item">
                  <a class="-nav-link" href="//stackoverflow.com/jobs">Jobs</a>
                </div>
                <div class="users -item">
                  <a class="-nav-link" href="//stackoverflow.com/users/story/join">Developer Story</a>
                </div>
            </nav>
            <nav class="activity-nav horizontal-nav">
                    <div class="login -item">
                        <div class="login-buttons">
                            <a class="btn btn-outlined log-in-btn" href="#">Log In</a>
                            <a class="btn sign-up-btn" href="#">Sign Up</a>
                        </div>
                    </div>       
            </nav>
        </div>
    </header>
    <div class="home-hero">
        <div class="hero-content">
            <h1>Great ideas from great people.</h1>
            <h2>Stay up to date with everything that's happening inside Stack Overflow</h2>
        </div>
    </div>
</div>
