<div class="index-nav">
  <header class="header">
        <div class="mainnav-wrapper anon-nav">
            <nav class="mainnav horizontal-nav">
                <div class="hlogo -item">
                  <a class="current -nav-link hlogo-link" href="#"></a>
                </div>
                <div class="qanda -item">
                  <a class="-nav-link" href="#">Questions</a>
                </div>
                <div class="documentation -item">
                  <a class="-nav-link" href="#">Documentation</a>
                </div>
                <div class="jobs -item">
                  <a class="-nav-link" href="#">Jobs</a>
                </div>
                <div class="users -item">
                  <a class="-nav-link" href="#">Users</a>
                </div>
            </nav>
            <nav class="activity-nav horizontal-nav">
                    <div class="login -item">
                        <div class="login-buttons">
                            <a class="btn btn-outlined log-in-btn" href="#">Log In</a>
                            <a class="btn sign-up-btn" href="#">Sign Up</a>
                        </div>
                    </div>       
            </nav>
        </div>
    </header>
</div>
