{% for i in (1..5) %}
<article class="preview-post post">
	<div class="-row post-header">
		<div class="-col6"> 
		  <div class="author-container media-padded">
		  	<a href=""><img class="avatar" src=""></a>
		  	<div class="info">
		  		<h2 class="h4 author-name"><a class="author-link" href=""></a></h2>
		  		<h3 class="h5 author-info"></h3>
		  	</div>
		  </div>
  		</div>
  		<div class="-col6 classification media-padded">
  			<div class="tags">
		    </div>
  		</div>
  	</div>

  <div class="hero-container">
  	<a class="hero_url" href=""><img class="hero" src=""></a>
  </div>

  <div class="media-padded">
	  <h1 class="h3"><a class="title" href=""></a></h1>

      <div class="entry">
        <p class="excerpt"></p>
      </div>
      
      <a href="" class="read-more">Continue reading</a>
  </div>
</article>
{% endfor %}