{% for i in (1..5) %}
<article class="preview-post post">

  <div class="hero-container">
    <a class="hero_url" href=""><img class="hero" src=""></a>
  </div>
  <div class="media-padded">
    <div class="meta-info">
      <div class="podcast-container">
        <i class="blog-icon podcast"></i>
      </div>
      <h1 class="h3"><a class="title" href=""></a></h1>
      <p class="post-info"></p>
    </div>
    <div class="clearfix"></div>

    <div class="entry">
      <p class="excerpt"></p>
    </div>
      
    <a href="" class="read-more">Read more <i class="blog-icon read-more"></i></a>
  </div>
</article>
{% endfor %}
