<script>
  (function() {
  var gcse = document.createElement('script'),
      s = document.getElementsByTagName('script')[0];
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=016977336332817163153:wexke3v672y';
  s.parentNode.insertBefore(gcse, s);
  })();
  </script>
<gcse:search></gcse:search>
<style>
  .cse .gsc-control-cse, .gsc-control-cse, .cse form.gsc-search-box, form.gsc-search-box {
    padding: 0;
  }

  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
      color: #FFFFFF;
  }
</style>