<div class="sidebar media-padded">
	<section>
		{% include search.html %}
	</section>

		<section class="sidebar-nav">
		<ul>
			<li>
				<a href="{{ site.baseurl }}/company/">ALL POSTS</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/company/announcements/">ANNOUNCEMENTS</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/company/podcasts/">PODCASTS</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/company/community/">COMMUNITY</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/company/culture/">CULTURE</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/company/diversity/">DIVERSITY</a>
			</li>
		</ul>
	</section>

	<section>
	<h3>Contributors</h3>
	{% include authors.html %}
	</section>
</div>
