<div class="sidebar media-padded">
	<section class="sidebar-nav">
		<ul>
			<li>
				<a class="{% unless paginator.channel %} active{% endunless %}" href="/company/">All Posts</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "announcements" %} active{% endif %}" href="/company/announcements/">Announcements</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "podcasts" %} active{% endif %}" href="/company/podcasts/">Podcasts</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "community" %} active{% endif %}" href="/company/community/">Community</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "culture" %} active{% endif %}" href="/company/culture/">Culture</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "diversity" %} active{% endif %}" href="/company/diversity/">Diversity</a>
			</li>
		</ul>
	</section>

	<section>
	<h3>Contributors</h3>
	{% include authors.html %}
	</section>
</div>
