---
layout: default
---
<div class="inner-container padded media-padded">
	<h1 class="h3">Contributors</h1>
	{% for author in site.authors %}
		{% unless author.inactive %}
		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
		{% if thecycle == 'odd' %}
		<div class="authors -row">
		{% endif %}
			<div class="author-container large -col6">
			  	<a href="{{ site.baseurl}}/authors/{{ author.id }}"><img src="{{ author.avatar }}" class="avatar"></a>
			  	<div class="info">
			  		<h2 class="h4 author-name"><a href="{{ site.baseurl}}/authors/{{ author.id }}">{{ author.name }}</a></h2>
			  		<h3 class="h5">{{ author.job }}</h3>
			  		<h3 class="h5 author-info"><a href="http://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a> &bull; <a href="{{ author.website }}">{{ author.website }}</a></h3>
			  	</div>
			</div>
		{% if thecycle == 'even' %}
		</div>
		{% endif %}
		{% endunless %}
	{% endfor %}
</div>

<script type="text/javascript">
var pagination = false;
var top_active = "authors";
</script>