$fontSize-base:         13;
$padding-base:          $fontSize-base * 1px;
$mediaQuery-small:      768px;
$color-white:     		hsl(0,0%,100%);
$color-grayMid:   hsl(206,10%,42%);
$color-grayLight: spin(desaturate(lighten($color-grayMid,50%),3%),-6);
$blue: #0077cc;
$baseTextGray: rgba(0,0,0,0.8);

html {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	body {
		margin: 0;
		background-color: #fff;
	}
}
p {
	line-height: 1.6;
}
h1,h2,h3,h4,h5,h6,p {
	margin-top: 0;
}
blockquote {
	margin: 0.75em 0;
	padding: 1em 1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	letter-spacing: 0;
	line-height: 1.76923077;
}
a, .link {
    color: $blue;
    text-decoration: none;
    transition: all 0.1s ease-in;

    &:hover, &._hover,
    &:focus, &._focus {
        text-decoration: underline;
    }
    &:focus, &._focus { outline: none; }
}
.post-tag, .postTag {
	display: inline-block;
	margin: 0.167em;
	margin-left: 0;
	line-height: 1;
	text-decoration: none;
	text-transform: lowercase;
	color: #3e6d8e;
	background-color: #dfeaf1;
	border: 0 solid #dfeaf1;
	white-space: nowrap;
	transition: all 0.1s ease-in;
}

a[href] {
	.post-tag, .postTag {
		&:hover {
			background-color: #c3dae9;
			border-color: #c3dae9;
			color: #365f7c;
			text-decoration: none;
		}
	}
}

._textRight 	{ text-align: right; }
._textLeft 		{ text-align: left; }
._textCenter 	{ text-align: center; }



table {
	display: block;
	width: 100%;
	word-break: keep-all;
	margin-bottom: 10px;

	tr {
		background-color: #fff;
		border-top: 1px solid #ccc;

		&:nth-child(2n) {
			background-color: #f8f8f8;
		}
	}

	th, td {
		padding: 8px 13px;
		border: 1px solid #ddd;
	}
}

i.blog-icon {
	display: inline-block;
	background-image: url('images/blog-sprite.svg');
	&.logo {
		background-position: 0px 130px;
		width: 46px;
		height: 57px;
	}
	&.read-more {
		background-position: 0px 0px;
		width: 12px;
		height: 12px;
	}
	&.podcast {
		background-position: 0px -24px;
		width: 15px;
		height: 31px;
	}
	&.left-arrow {
		background-position: 0px -220px;
		width: 11px;
		height: 11px;
	}
	&.right-arrow {
		background-position: 3px -240px;
		width: 14px;
		height: 11px;
	}
	&.location {
		background-position: -14px 0px;
		width: 14px;
		height: 14px;
	}
}
.inner-container {
	max-width: 1000px;
	margin: 0px auto;
	&.padded {
		margin: 70px auto;
	}
}
.sidebar {
	padding-left: 50px;
	h3 {
		color: #2d2d2d;
		font-weight: normal;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 0.8461538461538461rem;
	}
	.name-link {
		font-weight: 400;
	}
	p {
		font-size: 12px;
		color: $baseTextGray;
		text-justify: inter-word;
		line-height: 20px;
	}
	section {
		padding-bottom: 25px;
	}
  #hireme {
    min-height: 234px;
  }
}
header {
	padding: 25px;
	padding-bottom: 45px;
	background: #F48024;
	color: #fff;
	height: 136px;
	.site-avatar {
		/* ensure that the floated image contributes to the <a>'s dimensions and thus is always clickable */
		display: block;
		overflow: hidden;
		img {
			margin-top: 20px;
			float: left;
			width: 225px;
		}
	}
	.site-info {
		float: left;
		padding: 15px;
	}
	nav {
		padding-top: 19px;
		text-align: right;
		a, a:link, a:visited {
			display: inline-block;
			padding: 5px 7px;
			color: $color-white;
			border: 1px solid transparent;
			border-color: none;
			font-size: 14px;
		}
		a.active, a:hover {
			text-decoration: none;
			border: 1px solid $color-white;
			border-radius: 3px;
		}
	}
}
div.subheader {
	position: absolute;
	width: 100%;
	top: 97px;
	height: 35px;
	nav {
		background: #F48024;
		a {
			font-size: 14px;
			padding: 10px;
			display: inline-block;
			text-transform: uppercase;
			&:link, &:hover, &:visited {
				color: rgba(255,255,255,0.7);
				&.active {
					color: $color-white;
					border-bottom: 3px solid #174879;
				}
			}
		}
	}
}
#main {
	margin-bottom: 50px;
}
.not-found {
	padding-top: 100px;
}
.home-hero {
	padding: 150px 0px;
}
.post-tag, .postTag {
	padding: 0.45em 0.5em 0.45em 0.5em;
	font-size: 13px;
}
div.pagination {
	padding: 30px 0;
	height: 70px;
	background: #f8f8f8;
	color: $baseTextGray;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: normal;
	a.page {
		color: $color-grayMid;
		cursor: pointer;
	}
}
.image-container {
	width: 100%;
	height: 150px;
	overflow: hidden;
	margin-bottom: 15px;
	border-radius: 5px;
	position: relative;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
	}
}

article.post {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
	&:first-child {
		padding-top: 0;
	}
	&:last-child{
		border-bottom: none;
	}
	&.draft {
		background-color: #fff3c7;
	}
	.inner-container {
		max-width: 800px;
	}
	.author {
		font-size: 16px;
	}
	.tags {
		text-align: right;
	}
	.entry {
		margin: 50px 0px;
		h1 { font-size: 3.6923076923076925rem; }
		h2 { font-size: 2.769230769230769rem; }
		h3 { font-size: 1.8461538461538463rem; }
		.metadata {
			margin: 25px 0px;
		}
		.highlight pre {
			font-size: 14px;
		}
	}
	&.preview-post {
		.date {
			font-size: 12px;
			color: $color-grayMid;
		}
		.post-header {
			padding: 15px 0px;
			.tags {
				margin-top: 25px;
			}
			&.no-author {
				padding-bottom: 0;
				.tags {
					margin-top: -10px;
				}
			}
		}
		.podcast-container {
			float: left;
			padding: 15px 25px;
			border: 5px solid #eee;
			text-align: center;
			border-radius: 35px;
			margin-right: 10px;
		}
		.hero-container {
			width: 100%;
			height: 350px;
			overflow: hidden;
			margin-bottom: 15px;
			position: relative;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
				height: 350px;
				background-size: cover;
				background-position: center center;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
			}
		}
		.post-info {
			font-size: 12px;
			color: #777;
			margin: 0;
			text-transform: uppercase;
		}
		h1 {
			font-weight: 600;
			font-size: 1.8461538461538463rem;
			line-height: 1.15384615;
			margin: 0;
			a {
				color: $baseTextGray;
			}
		}
		.entry {
			margin: 10px 0px;
			color: $baseTextGray;
			font-weight: 300;
			font-size: 16px;
			line-height: 24px;
		}
	}
	&.full-post {
		border-bottom: 2px solid #eaeaea;
		.inner-container {
			max-width: 700px;
		}
		.source {
			padding: 25px;
			background: hsla(47, 100%, 89%, 1); 
            border: 1px solid hsla(47, 60%, 75%, 1); 
			margin-bottom: 25px;
			p {
				margin: 0px;
				font-size: 14px;
			}
		}
		.hero {
			text-align: center;
			background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;
			height: 100%;
			padding: 150px 0px;
			padding-bottom: 50px;
			&.no-image {
				background: #F48024;
				padding-top: 125px;
				.author-container {
					margin-top: 0;
				}
			}
			h1, h2, .date {
				color: #fff;
			}
			.author-container {
				margin-top: 150px;
				img {
					float: none;
					border: 1px solid $color-grayLight;
					margin: 10px auto;
				}
				h2 {
					font-size: 12px;
					margin: 0;
					a {
						color: #fff;
					}
				}
				.date {
					font-size: 12px;
				}
			}
			h1 {
				font-weight: 600;
				font-size: 50px;
			}
		}
		.entry {
			color: rgba(0,0,0,0.8);
			font-size: 16px;
			h1 {
				font-size: 40px;
			}
			h2 {
				font-size: 32px;
			}
			h3 {
				font-size: 22px;
			}
			a, a:link, a:hover, a:visited {
				color: $blue;
			}
			p {
				line-height: 28px;
			}
			ul, ol {
				li {
					line-height: 28px;
				}
			}
			img {
				max-width: 100%;
				&[alt=left-align], &.left-align {
					float: left;
					margin: 10px;
				}
				&[alt=right-align], &.right-align {
					float: right;
					margin: 10px;
				}
			}
			blockquote {
				font-size: 18px;
				border-left: 3px solid $blue;
				background: #f6f6f6;
				color: inherit;
			}
			.metadata {
				font-size: 12px;
				color: rgba(0,0,0,0.8);
			}
			.disqus {
				margin-top: 75px;
				.comment {
					> div {
						margin: 10px;
					}
					.header {
						border-bottom: 1px solid rgba(0,0,0,0.1);
						img {
							width: 45px;
							height: 45px;
							float: left;
							margin-right: 15px;
						}
						p {
							font-size: 16px;
							margin-bottom: 0;
						}
					}
					border: 1px solid rgba(0,0,0,0.1);;
					margin-bottom: 15px;
					font-size: 14px;
				}
			}
		}
	}
}

/* The outer <p> enforces a max-width of 640px. The inner span has a height of 35 pixels, and a
   padding-bottom of 56.25%. Padding percentages, even for top/bottom, are always relative
   to the *width*, so the padding always has an aspect ratio of 1/0.5625, or 16/9. Thus in total,
   the iframe has a height of 35 + width * 9/16. 35 pixels is the height of youtube's player controls,
   so we have exactly the space we need for video + controls. The iframe is positioned absolutely
   because only in that case does the containing block include the padding. The inner span exists
   because without it you couldn't correctly handle max-width (as there obviously isn't a max-padding-bottom).
*/
.youtube-embed {
    width: 100%;
    max-width: 640px;
    position: relative;
    > span {
        display: block;
        width: 100%;
        height: 35px;
        padding-bottom: 56.25%;
        position: relative;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

hr.footer-border {
	size: 2px;
	color: #eaeaea;
}
article.author {
	.author-content {
		margin-top: 50px;
	}
}
.author-container {
	&.small {
		margin-bottom: 25px;
		p {
			white-space: nowrap;
		}
	}
	&.large {
		padding-top: 50px;
		img {
			width: 100px;
			height: 100px;
			margin-right: 25px;
			border-radius: 50px;
		}
		.info {
			padding-top: 5px;
			h2 {
				font-size: 18px;
			}
			h3 {
				font-size: 14px;
				font-weight: normal;
			}
		}
	}
	img {
		width: 50px;
		margin-right: 15px;
		float: left;
		display: block;
		border-radius: 25px;
	}
	.info {
		.author-name {
			padding-top: 8px;
			font-size: 16px;
			margin-bottom: 5px;
		}
		.author-info {
			font-size: 12px;
			color: $color-grayMid;
		}
	}
}
footer {
	h4 {
		font-size: 14px;
		color: #444444;
		font-weight: 600;
	}
	p {
		font-size: 14px;
		margin: 0;
		a, a:link {
			color: #5e676d;
		}
	}
	.about {
		padding: 0px 25px;
		p {
			color: #737c82;
			font-size: 14px;
		}
		a:link {
			color: $blue;
		}
	}
	padding: 50px 0px;
}
#authors-container {
	.author-container {
		.info {
			.author-name {
				color: $blue;
				margin-bottom: 0;
			}
		}
	}
}

/* the selector includes an id to ensure that the
specificity overrides some default styles */
#speakers-list .speaker {
	padding-top: 30px;
	min-height: 241px;
	
	&:first-of-type {
		padding-left: 1em;
	}
	
	.info {
		padding-top: 0;
	}
	
	.author-name {
		padding-top: 0;
	}
	
	.author-info {
		color: #737c82;
		margin-bottom: 0px;
		font-size: 13px;
		margin-top: 3px;
		
		p {
			max-height: 80px;
			overflow: hidden;
		}
	}
	
	.author-meta-info {
		color: #07c;
		font-size: 12px;
		padding-top: 8px;
	}
	
	.locale-and-tags {
		margin-top: -8px;
	}
	
	.speaker-location {
		position: relative;
		float: right;
		
		h4 {
		color: #737c82;
		padding: 3px 0 0 0;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 0;
		float: left;
		}
		
		i.location {
		margin: 3px 3px 0 0;
		width: 14px;
		height: 14px;
		float: left;
		}
		
	}
	
	&.author-container.large img {
		width: 50px;
		height: 50px;
		margin-right: 15px;
	}
}

@media (max-width: $mediaQuery-small) {
	#speakers-list .speaker .author-info p {
		max-height: 160px;
	}
}

.mini-header {
	font-size: 16px;
}

#tag-filter {
	box-sizing: border-box;
	padding: 16px 16px 14px 16px;
	background-color: #fafafa;

	p {
		margin: 0;
	}

	#remove {
		float: right;
	}
}

@media (max-width: $mediaQuery-small) {
	div.inner-container.padded {
		margin-top: 30px;
	}
	header .site-avatar img {
		margin-top: 0;
	}
	.hidden-nav {
		display: none;
	}
	header {
		height: auto;
		padding-bottom: 20px !important; /* important because the pages that have sub-nav override this value in-page */
		nav {
			clear: left;
			text-align: left;
			padding-top: 15px;
			margin-left: -8px; /* align text with the logo */
			a, a:link, a:visited {
				color: mix($color-white, $blue, 60%);
				border: none !important;
			}
			a.active, a:hover {
				color: $color-white;
			}
		}
	}
	.add-padding {
		padding: 0 25px;
	}
	.media-padded {
		padding: 0 25px;
	}
	article.post {
		&.preview-post {
			.hero-container {
				border-radius: 0;

				height: 0px !important;
				.hero {
					background: #F48023 !important;
					height: 0% !important;
				}
			}
		}
		&.full-post {
			.hero {
				background: #F48024!important;
				padding-top: 150px;
				height: auto;
				h1 {
					font-size: 25px;
				}
				.author-container {
					margin-top: 25px;
				}
			}
			.entry {
				padding: 25px;
			}
		}
		.entry {
			margin-top: 0;
		}
		.tags {
			text-align: left;
		}
	}
	article.author {
		.author-content {
			margin-top: 0;
		}
	}
	.sidebar {
		border-top: 1px solid $color-grayLight;
		padding-top: 25px;
	}
	.pagination {
		.-col2 {
			display: block;
			width: 50%!important;
			float: left;
			padding: 0 25px;
			box-sizing: border-box;
		}
		.-col8 {
			display: block;
			clear: both;
		}
	}
	footer .about {
		margin-bottom: 15px;
	}
}
