---
layout: default
---
<article class="author">
	<div class="inner-container">
		<div class="-row">
			<div class="-col12">
				<div class="author-container large media-padded">
				  	<img src="{{ page.avatar }}" class="avatar">
				  	<div class="info">
				  		<h2 class="h4 author-name">{{ page.name }}</h2>
				  		<h3 class="h5">{{ page.job }}</h3>
				  		<h3 class="h5 twitter"><a href="http://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a> &bull; <a href="{{ page.website }}">{{ page.website }}</a></h3>
				  	</div>
				</div>
			</div>
		</div>
		<div class="-row author-content">
			<div class="-col8">
				<div class="posts">
				  {% for post in site.posts %}
					  {% if page.id == post.author %}
					    <article class="preview-post post">
					    <div class="-row post-header no-author">
					    	<div class="-col6">
					    		<div class="date media-padded"><p>{{ post.date | date: "%B %e, %Y" }}</p></div>
					    	</div>
					    	<div class="-col6">
					    		<div class="tags media-padded">
					    			<p>
					    			{% for tag in post.tags %}
					    			<a href="{{ site.baseurl }}/tags/{{ tag }}"><span class="postTag">{{ tag }}</span></a>
					    			{% endfor %}
					    			</p>
					    		</div>
					    	</div>
					    </div>
						  <div class="hero-container">
						  	<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.hero }}"></a>
						  </div>

						  <div class="media-padded">
							  <h1 class="h3"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

						      <div class="entry">
						        <p>{{ post.excerpt | markdownify | strip_html }}</p>
						      </div>
						      
						      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue reading</a>
					      </div>
					    </article>
				     	{% endif %}
				  {% endfor %}
				</div>
			</div>
		</div>
	</div>
</article>
