---
layout: default
---
<style>
	header {
		padding-bottom: 80px;
		margin-bottom: 35px;
	}
</style>
<div class="subheader">
	<div class="inner-container">
		<nav class="-row">
			<a class="category active" id="all" href="{{ site.baseurl }}/company">All</a>
			<a class="category" id="announcement" href="{{ site.baseurl }}/company/announcements">Announcements</a>
			<a class="category" id="podcasts" href="{{ site.baseurl }}/company/podcasts">Podcasts</a>
			<a class="category" id="culture" href="{{ site.baseurl }}/company/culture">Culture</a>
			<a class="category" id="diversity" href="{{ site.baseurl }}/company/diversity">Diversity</a>
		</nav>
	</div>
</div>

{{ content }}