---
layout: default
top_nav: company
---
<style>
	header {
		padding-bottom: 80px;
		margin-bottom: 35px;
	}
</style>
<div class="subheader hidden-nav">
	<div class="inner-container">
		<nav class="-row">
			<a class="category{% unless paginator.channel %} active{% endunless %}" href="{{ site.baseurl }}/company/">All</a>
			<a class="category{% if paginator.channel == "announcements" %} active{% endif %}" href="{{ site.baseurl }}/company/announcements/">Announcements</a>
			<a class="category{% if paginator.channel == "podcasts" %} active{% endif %}" href="{{ site.baseurl }}/company/podcasts/">Podcasts</a>
			<a class="category{% if paginator.channel == "community" %} active{% endif %}" href="{{ site.baseurl }}/company/community/">Community</a>
			<a class="category{% if paginator.channel == "culture" %} active{% endif %}" href="{{ site.baseurl }}/company/culture/">Culture</a>
			<a class="category{% if paginator.channel == "diversity" %} active{% endif %}" href="{{ site.baseurl }}/company/diversity/">Diversity</a>
		</nav>
	</div>
</div>

<div class="inner-container padded">
	<div class="-row">
		<div class="-col8">
			<div class="posts">
				{{ paginator.posts }}
			</div>
		</div>
		<div class="-col4">
			{% include company/sidebar.html %}
		</div>
	</div>
</div>
