---
layout: default
---
<style>
	header {
		padding-bottom: 80px;
		margin-bottom: 35px;
	}
</style>
<div class="subheader">
	<div class="inner-container">
		<nav class="-row">
			<a class="category active" id="all" href="{{ site.baseurl}}/engineering">All</a>
			<a class="category" id="development" href="{{ site.baseurl }}/engineering/development">Development</a>
			<a class="category" id="sysadmin" href="{{ site.baseurl }}/engineering/sysadmin">Sysadmin</a>
			<a class="category" id="design" href="{{ site.baseurl }}/engineering/design">Design</a>
			<a class="category" id="evangelism" href="{{ site.baseurl }}/engineering/evangelism">Evangelism</a>
			<a class="category" id="opinion" href="{{ site.baseurl }}/engineering/opinion">Opinion</a>
		</nav>
	</div>
</div>

{{ content }}