---
layout: default
top_nav: engineering
---
<style>
	header {
		padding-bottom: 80px;
		margin-bottom: 35px;
	}
</style>
<div class="subheader hidden-nav">
	<div class="inner-container">
		<nav class="-row">
			<a class="category{% unless paginator.channel %} active{% endunless %}" href="{{ site.baseurl}}/engineering/">All</a>
			<a class="category{% if paginator.channel == "development" %} active{% endif %}" href="{{ site.baseurl }}/engineering/development/">Development</a>
			<a class="category{% if paginator.channel == "sysadmin" %} active{% endif %}" href="{{ site.baseurl }}/engineering/sysadmin/">Sysadmin</a>
			<a class="category{% if paginator.channel == "design" %} active{% endif %}" href="{{ site.baseurl }}/engineering/design/">Design</a>
			<a class="category{% if paginator.channel == "evangelism" %} active{% endif %}" href="{{ site.baseurl }}/engineering/evangelism/">Evangelism</a>
			<a class="category{% if paginator.channel == "opinion" %} active{% endif %}" href="{{ site.baseurl }}/engineering/opinion/">Opinion</a>
		</nav>
	</div>
</div>

<div class="inner-container padded">
	<div class="-row">
		<div class="-col8">
			<div class="posts">
				{{ paginator.posts }}
			</div>
		</div>
		<div class="-col4">
			{% include engineering/sidebar.html %}
		</div>
	</div>
</div>
