<article class="preview-post post{% if post.draft %} draft{% endif %}">
  {% if post.hero %}{% unless post.tags contains 'podcasts' %}
  <div class="hero-container">
    <a class="hero_url" href="{{ post.url }}"><img class="hero" style ="background-image: linear-gradient(
      rgba(37, 43, 51, 0.35),
      rgba(37, 43, 51, 0.35)
    ), url('{{ post.hero }}');"></a>
  </div>
  {% endunless %}{% endif %}
  <div class="media-padded">
    <div class="meta-info">
      {% if post.tags contains 'podcasts' %}
      <div class="podcast-container">
        <i class="blog-icon podcast"></i>
      </div>
      {% endif %}
      <h1 class="h3"><a class="title" href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="post-info">{{ post.date | date: "%B %e, %Y" }} • By {{ author.name }} • In {{ post.tags | join: ', ' }}</p>
    </div>
    <div class="clearfix"></div>

    <div class="entry">
      <p class="excerpt">{% if post.description %}{{ post.description | strip_html | strip_newlines }}{% elsif post.excerpt %}{{ post.excerpt | markdownify | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}</p>
    </div>
      
    <a href="{{ post.url }}" class="read-more">Read more <i class="blog-icon read-more"></i></a>
  </div>
</article>