---
layout: post
---
{{content}}
{% if page.podcast %}
<p>{{ page.podcast | soundcloudify }}</p>
<p>Subscribe via <a href="https://itunes.apple.com/us/podcast/the-stack-overflow-podcast/id1033688462?mt=2">iTunes</a> or <a href="https://goo.gl/app/playmusic?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ii3bqwtykzjv5hvovej65fv5e2q?t%3DThe_Stack_Overflow_Podcast">Google Play</a>. <a href="{{ page.podcast }}">Download this episode directly.</a></p>
{% endif %}
