---
layout: default
---
<article class="post full-post">
	<div class="hero" style="background: url('{{ page.hero }}') fixed center center no-repeat;">
		<div class="inner-container">
			<h1 class="h2">{{ page.title }}</h1>
			{% for author in site.authors %}
			{% if author.id == page.author %}
			<div class="author-container">
			<img src="{{ author.avatar }}" >
			<h2 class="h4">{{ author.name }}</h2>
			{% endif %}
			{% endfor %}
			<div class="date">Written on {{ page.date | date: "%B %e, %Y" }}</div>
			</div>
		</div>
	</div>
	<div class="inner-container">
	  <div class="entry">
	  	{% if page.source %}
	  	<div class="source">
	  		<p>This post was originally posted elsewhere and has been put here with the author's permission. You can see <a href="{{ page.source }}" target="_blank">where it was originally posted here</a>.</p>
	  	</div>
	  	{% endif %}

	    {{ content }}
	  </div>
	  {% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</div>