---
layout: default
---
<div class="inner-container padded">
	<div class="-row">
		<div class="-col8">
			<div class="posts">
				<h3>{{ page.tag.name }}</h3>
				{{ paginator.posts }}
			</div>
		</div>
		<div class="-col4">
			<div class="sidebar media-padded">
				<section>
				<h4>Contributors</h4>
				{% include authors.html %}
				</section>

				<section>
				<h4>Other Tags</h4>
				{% for tag in paginator.top_tags %}
				<p><a href="{{ site.baseurl }}/tags/{{ tag.slug }}/"><span class="postTag">{{ tag.name }}</span></a> ({{ tag.count }})</p>
				{% endfor %}
				</section>
			</div>
		</div>
	</div>
</div>
