<div class="sidebar media-padded">
	<section class="sidebar-nav">
		<ul>
			<li>
				<a class="{% unless paginator.channel %} active {% endunless %}" href="/engineering/">All Posts</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "development" %} active{% endif %}" href="/engineering/development/">Development</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "sysadmin" %} active{% endif %}" href="/engineering/sysadmin/">Sysadmin</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "design" %} active{% endif %}" href="/engineering/design/">Design</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "evangelism" %} active{% endif %}" href="/engineering/evangelism/">Evangelism</a>
			</li>
			<li>
				<a class="{% if paginator.channel == "opinion" %} active{% endif %}" href="/engineering/opinion/">Opinion</a>
			</li>
		</ul>
	</section>


	<section>
	<h3>Contributors</h3>
	{% include authors.html %}
	</section>

	<section>
		<p><a href="https://github.com/StackExchange">Open Source</a></p>
		<p><a href="https://github.com/StackExchange/stack-blog">Blog Repository</a></p>
	</section>
</div>
